body {
    background-color: rgb(157, 192, 183);
    font-family:"Literata", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin: 0;
}

button {
    background-color: rgb(119, 196, 206);
    font-family:"Literata", serif;
}

.passo {
    display: none;
}

.passo.ativo{
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}
